.slide-img-button-container{
    width: 100%;
    overflow: hidden;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: calc(45%);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    padding-top: 30px;
    padding-bottom: 30px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slide-img-container {
    display: flex;
    flex-direction: row;
    transition: transform 900ms ease;
}
  